@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #3b404d;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
}

.formulario {
    background-color: #d1cfcf;
    flex: 1 1 30%;
    padding: 10px;
    max-width: 250px;
}

.formulario button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.formulario button:hover {
    background-color: #7590ac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-item {
    margin-top: 10px;
}

.tabela {
    background-color: #ebe7e7;
    flex: 1 1 70%;
    padding: 10px;

}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

.tabela table th {
    background-color: #7590ac;
    color: #fff;
}

.tabela table th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tabela button {
    padding: 5px 7px;
    width: 70px;
}

.tabela button:hover {
    background-color: #7590ac;
    border: none;
    border-radius: 5px;
}
.footer{
    background-color: #7590ac;
    height: 10vh;
    text-align: right;
    padding: 10px;
}