@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: #ddd;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    padding: 0 20px;
}

.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item{
    height: 50px;
}

.navbar-link{
    color: #3b404d;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-link:hover{
    color: #f0f0f0;
    background-color: #7590ac;
}

h2 {
    color: #3b404d;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.container {
    display: flex;
    flex-wrap: wrap;
    min-height: 80vh;
}

.formulario {
    background-color: #d1cfcf;
    flex: 1 1 30%;
    padding: 10px;
    max-width: 250px;
}

.formulario button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 5px;
}

.formulario button:hover {
    background-color: #7590ac;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-item {
    margin-top: 10px;
}

.tabela {
    background-color: #ebe7e7;
    flex: 1 1 70%;
    padding: 10px;
    /* MANTIDO: Garante que o container não quebre o layout principal */
    overflow-x: auto; 
}

.tabela table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
    
}

/* Regras de cabeçalho e célula */
.tabela table th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.tabela table th {
    background-color: #7590ac;
    color: #fff;
}

.tabela table td{
    font-size: 12px;
    
    /* MANTIDO: Regras para quebra de texto e evitar estouro */
    white-space: normal;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    word-break: break-all; 
    overflow: visible; 
}

/* OUTRAS REGRAS */
.tabela button {
    font-size: 8px;
    padding: 3px 5px;
    width: 50px;
}

.tabela button:hover {
    background-color: #7590ac;
    border: none;
    border-radius: 5px;
}
.footer{
    background-color: #7590ac;
    height: 10vh;
    text-align: right;
    padding: 10px;
    color: #fff;
}